n8n-workflows/backup-evolution-inbound-1783463126549.json
{
  "updatedAt": "2026-07-07T16:00:23.004Z",
  "createdAt": "2026-07-06T23:04:28.963Z",
  "id": "oOYAsBHtimSQr0iO",
  "name": "Produção - Evolution Inbound",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-prod",
        "options": {}
      },
      "id": "f79aec30-2f4a-4a5f-be76-a73d28679181",
      "name": "Evolution Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        1168
      ],
      "webhookId": "aee1c102-ece4-410f-8e7d-0e71c480ac30"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event;\nif (event === 'messages.upsert') {\n  const msg = body.data; \n  const key = msg.key;\n  const phone = key.remoteJid?.split('@')[0]?.split(':')[0] || '';\n  \n  let content = '';\n  let contentType = 'text';\n  let mimeType = 'application/octet-stream';\n  \n  if (msg.message?.conversation) {\n    content = msg.message.conversation;\n  } else if (msg.message?.extendedTextMessage?.text) {\n    content = msg.message.extendedTextMessage.text;\n  } else if (msg.message?.imageMessage) { \n    content = msg.message.imageMessage.caption || '[Imagem]'; \n    contentType = 'image'; \n    mimeType = msg.message.imageMessage.mimetype || 'image/jpeg';\n  } else if (msg.message?.audioMessage) { \n    content = '[Áudio]'; \n    contentType = 'audio'; \n    mimeType = msg.message.audioMessage.mimetype || 'audio/ogg';\n  } else if (msg.message?.videoMessage) { \n    content = msg.message.videoMessage.caption || '[Vídeo]'; \n    contentType = 'video'; \n    mimeType = msg.message.videoMessage.mimetype || 'video/mp4';\n  } else if (msg.message?.documentMessage) { \n    content = msg.message.documentMessage.fileName || '[Documento]'; \n    contentType = 'document'; \n    mimeType = msg.message.documentMessage.mimetype || 'application/pdf';\n  } else if (msg.message?.stickerMessage) { \n    content = '[Figurinha]'; \n    contentType = 'sticker'; \n    mimeType = msg.message.stickerMessage.mimetype || 'image/webp';\n  } else {\n    content = '[Mensagem não suportada]';\n  }\n\n  return [{ \n    json: { \n      event_type: 'message.received', \n      whatsapp_msg_id: key.id, \n      phone, \n      contact_name: msg.pushName || phone, \n      direction: key.fromMe ? 'out' : 'in', \n      content, \n      content_type: contentType, \n      media_url: null, \n      mime_type: mimeType,\n      timestamp: new Date(msg.messageTimestamp*1000).toISOString(), \n      instance: body.instance,\n      is_media: ['image', 'audio', 'video', 'document', 'sticker'].includes(contentType),\n      raw_key: key,\n      raw_message: msg.message\n    } \n  }];\n} else {\n  return [{ json: { event_type: 'skip', reason: 'Not a message: ' + event } }];\n}"
      },
      "id": "588f5a8e-3d98-4ff8-b3d1-562a62415367",
      "name": "Parse Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-1779895653521",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "message.received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91b9cbe2-6116-42e3-a45e-82eee5ae48f5",
      "name": "Is Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/contacts?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ phone: $json.phone }, $json.direction === 'in' && $json.contact_name ? { name: $json.contact_name } : {})) }}",
        "options": {}
      },
      "id": "b4cf8e34-093a-419f-a13a-0a01ebb1c654",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        208,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Fetch Channel ID').first().json[0]?.id || $('Fetch Channel ID').first().json.id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('Upsert Contact').item.json.id }}"
            },
            {
              "name": "direction",
              "value": "={{ $('Is Message?').item.json.direction }}"
            },
            {
              "name": "content",
              "value": "={{ $('Is Message?').item.json.content }}"
            },
            {
              "name": "content_type",
              "value": "={{ $('Is Message?').item.json.content_type }}"
            },
            {
              "name": "media_url",
              "value": "={{ $('Is Message?').item.json.media_url }}"
            },
            {
              "name": "whatsapp_msg_id",
              "value": "={{ $('Is Message?').item.json.whatsapp_msg_id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $('Is Message?').item.json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "617b8bc9-e5b8-4846-8b9a-447c34e11687",
      "name": "Insert Message to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/webhook_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Fetch Channel ID').first().json[0]?.id || $('Fetch Channel ID').first().json.id }}"
            },
            {
              "name": "event_type",
              "value": "={{ $('Parse Evolution Payload').item.json.event_type }}"
            },
            {
              "name": "source",
              "value": "evolution"
            },
            {
              "name": "status",
              "value": "processed"
            }
          ]
        },
        "options": {}
      },
      "id": "d10f51fa-a406-4955-8b86-f20527bb1822",
      "name": "Log Webhook Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        688,
        1024
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/ai_settings?limit=1",
        "sendHeaders": true,
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            }
          ]
        }
      },
      "id": "dad18622-c778-47fb-bce9-7fd01c1f13f0",
      "name": "Fetch AI Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst settings = $('Fetch AI Settings').first()?.json;\nif (!settings) {\n  return [{ json: { run_ai: false, reason: 'No settings found' } }];\n}\n\n// Retrieve contact tags\nlet contact = {};\ntry {\n  contact = $('Upsert Contact').first().json;\n} catch(e) {\n  try {\n    contact = $input.first().json; // fallback\n  } catch(err) {}\n}\n\nconst tags = contact.tags || [];\nconst isPausedByTag = tags.includes('IA Inativa');\n\n// Read columns directly from Supabase settings row\nconst isEnabledGlobal = settings.is_enabled === true;\nconst systemPrompt = settings.system_prompt || '';\nconst negativePrompt = settings.negative_prompt || '';\nconst apiKey = settings.api_key || '';\nconst model = settings.model || 'gpt-4o-mini';\nconst temperature = settings.temperature ?? 0.7;\n\n// Find message info dynamically\nlet msgText = '';\nlet direction = 'in';\nlet phone = contact.phone || '';\n\ntry {\n  const parsed = $('Parse Evolution Payload').first().json;\n  msgText = parsed.content || '';\n  direction = parsed.direction || 'in';\n  if (!phone) phone = parsed.phone || '';\n} catch(e) {}\n\nconst isInbound = direction === 'in';\n\n// Check pause trigger phrases\nconst pausePhrases = settings.pause_trigger_phrases || [];\nconst matchedPhrase = pausePhrases.find(p => msgText.toLowerCase().includes(p.toLowerCase()));\n\nlet pauseBot = false;\nlet runAi = false;\nlet reason = '';\n\nif (!isEnabledGlobal) {\n  reason = 'AI is disabled globally';\n} else if (!isInbound) {\n  reason = 'Message is outbound';\n} else if (isPausedByTag) {\n  reason = 'AI is paused for this contact (IA Inativa tag present)';\n} else if (matchedPhrase) {\n  pauseBot = true;\n  reason = `AI paused by trigger phrase: \"${matchedPhrase}\"`;\n} else {\n  runAi = true;\n  reason = 'All checks passed, running AI';\n}\n\nconst updatedTags = isPausedByTag ? tags : [...tags, 'IA Inativa'];\n\nreturn [{\n  json: {\n    run_ai: runAi,\n    pause_bot: pauseBot,\n    reason: reason,\n    contact_id: contact.id,\n    phone: phone,\n    user_message: msgText,\n    system_prompt: systemPrompt,\n    negative_prompt: negativePrompt,\n    api_key: apiKey,\n    model: model,\n    temperature: temperature,\n    updated_tags: updatedTags\n  }\n}];\n"
      },
      "id": "cc92cad9-d854-4fd7-9fad-bcc9bb1634c9",
      "name": "AI Routing Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.pause_bot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8314007a-836c-4ca7-bc51-93f515d76e8c",
      "name": "If Pause AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/contacts?id=eq.{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tags\": {{ JSON.stringify($json.updated_tags) }}, \"pipeline_stage\": \"proposal\" }",
        "options": {}
      },
      "id": "c9eb9bdf-f5b5-4a95-887e-1a0a479392fc",
      "name": "Pause Contact AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2700,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.run_ai }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4bc17196-f6c2-408a-9ed9-2caa4e74aba9",
      "name": "If Run AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/messages?contact_id=eq.{{ $json.contact_id }}&order=timestamp.desc&limit=10",
        "sendHeaders": true,
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            }
          ]
        }
      },
      "id": "bc3bb5ca-4300-4710-95dd-b5d522d08d11",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const msgs = $input.all().map(item => item.json);\nconst inboundMsgs = msgs.filter(m => m.direction === 'in');\nconst routerData = $('AI Routing Decision').first().json;\nconst welcomeMessage = routerData.welcome_message || '';\n\nif (inboundMsgs.length <= 1 && welcomeMessage.trim() !== '') {\n  return [{\n    json: {\n      is_welcome: true,\n      contact_id: routerData.contact_id,\n      phone: routerData.phone,\n      channel_id: routerData.channel_id,\n      content: welcomeMessage\n    }\n  }];\n}\n\nmsgs.reverse();\n\nconst historyText = msgs.map(m => {\n  const role = m.direction === 'in' ? 'USER' : 'ASSISTANT';\n  return `${role}: ${m.content || ''}`;\n}).join('\\n\\n');\n\nconst systemContent = `${routerData.system_prompt}\\n\\nRESTRISÇÕES IMPORTANTES (O QUE NUNCA FAZER):\\n${routerData.negative_prompt}`;\n\nconst systemMessage = `${systemContent}\\n\\nCONVERSATION HISTORY:\\n${historyText}`;\n\nreturn [{\n  json: {\n    is_welcome: false,\n    api_key: routerData.api_key,\n    model: routerData.model,\n    temperature: routerData.temperature,\n    chatInput: routerData.user_message,\n    systemMessage: systemMessage,\n    contact_id: routerData.contact_id,\n    phone: routerData.phone,\n    channel_id: routerData.channel_id\n  }\n}];"
      },
      "id": "2cdf4921-901c-4f25-af07-36ce00555a60",
      "name": "Format Prompt & History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst answer = resp.output || resp.text || resp.content || JSON.stringify(resp);\nconst inputData = $('Format Prompt & History').first().json;\nreturn [{\n  json: {\n    contact_id: inputData.contact_id,\n    phone: inputData.phone,\n    channel_id: inputData.channel_id,\n    content: answer\n  }\n}];"
      },
      "id": "d48ef40f-5987-431c-b4a4-028d1f3d76f0",
      "name": "Extract AI Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-n8n.rh3fr2.easypanel.host/webhook/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"channel_id\": \"{{ $json.channel_id }}\", \"contact_id\": \"{{ $json.contact_id }}\", \"phone\": \"{{ $json.phone }}\", \"content\": {{ JSON.stringify($json.content) }} }",
        "options": {}
      },
      "id": "1b55414a-312c-4c6d-8f90-e8f366801348",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3500,
        400
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.systemMessage }}\n\nIMPORTANT TOOL RULES: Para mover o lead para 'won', é OBRIGATÓRIO haver um agendamento concreto (data e hora aceitos pelo lead). Confirmações genéricas não são suficientes."
        }
      },
      "id": "agent-wkh59",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Format Prompt & History').first().json.model || 'gpt-4o-mini' }}",
          "mode": "id"
        },
        "options": {
          "temperature": "={{ $('Format Prompt & History').first().json.temperature || 0.7 }}"
        }
      },
      "id": "model-vxcdom",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1300,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "pnuusAYVVpBuDVbK",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "atualizar_funil_vendas",
        "description": "Atualiza o estágio do lead no funil de vendas (pipeline_stage) e passa o atendimento para a equipe humana. Use isso SEMPRE que o lead disser que quer agendar ou aceitar falar com o especialista. OBRIGATÓRIO: você deve passar \"proposal\" para o parâmetro pipeline_stage.",
        "method": "PATCH",
        "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/contacts?id=eq.{{ $('AI Routing Decision').first().json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pipeline_stage\": \"{{ $fromAI('pipeline_stage', 'Estágio do funil: proposal', 'string') }}\", \"tags\": {{ JSON.stringify(($fromAI('pipeline_stage') === 'proposal' || $fromAI('pipeline_stage') === 'won') ? (($('AI Routing Decision').first().json.updated_tags || []).includes('IA Inativa') ? ($('AI Routing Decision').first().json.updated_tags || []) : [...($('AI Routing Decision').first().json.updated_tags || []), 'IA Inativa']) : (Array.isArray($('Fetch Contact').first().json) ? ($('Fetch Contact').first().json[0]?.tags || []) : ($('Fetch Contact').first().json?.tags || []))) }}}",
        "options": {}
      },
      "id": "tool-b0b4n",
      "name": "Atualizar Funil",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1500,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/channels?instance=eq.{{ encodeURIComponent($('Parse Evolution Payload').item.json.instance) }}&select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            }
          ]
        },
        "options": {}
      },
      "id": "e458e0a3-bf45-42a9-a931-e40f1e4a29a3",
      "name": "Fetch Channel ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -32,
        950
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_media }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-is-media",
      "name": "Is Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n-evolution-api.rh3fr2.easypanel.host/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "3F48DF5CA77B-48F8-A3F8-9A12478A2E8B"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $json.raw_key, message: $json.raw_message }, convertToMp4: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-fetch-base64",
      "name": "Fetch Base64 from Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        200,
        1300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const evoResponse = $input.first().json;\nconst parseData = $('Is Media?').first().json;\n\n// Check if there was an error in the previous node\nif (evoResponse.error || !evoResponse.base64) {\n  return [{ json: parseData }];\n}\n\nconst base64Data = evoResponse.base64;\nconst mimeType = evoResponse.mimetype || parseData.mime_type;\nconst extension = mimeType.split('/')[1]?.split(';')[0] || 'bin';\nconst fileName = parseData.whatsapp_msg_id + '_' + parseData.content_type + '.' + (extension === 'ogg' ? 'ogg' : extension);\n\nreturn [{\n  json: {\n    ...parseData,\n    upload_base64: base64Data,\n    upload_mime_type: mimeType,\n    upload_file_name: fileName\n  }\n}];"
      },
      "id": "node-process-upload",
      "name": "Process Base64 Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/storage/v1/object/media/{{ $json.upload_file_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.upload_mime_type }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{ $json.upload_base64 ? Buffer.from($json.upload_base64, \"base64\") : \"\" }}",
        "options": {}
      },
      "id": "node-upload-media",
      "name": "Upload Media to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        1300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Process Base64 Upload').first().json;\nconst uploadResult = $('Upload Media to Supabase').first().json;\n\nlet publicUrl = null;\nif (data.upload_file_name && !uploadResult.error) {\n  publicUrl = \"https://rjcuoxvutrrzknicyuev.supabase.co/storage/v1/object/public/media/\" + data.upload_file_name;\n}\n\nreturn [{\n  json: {\n    event_type: data.event_type,\n    whatsapp_msg_id: data.whatsapp_msg_id,\n    phone: data.phone,\n    contact_name: data.contact_name,\n    direction: data.direction,\n    content: data.content,\n    content_type: data.content_type,\n    media_url: publicUrl,\n    mime_type: data.mime_type,\n    timestamp: data.timestamp,\n    instance: data.instance\n  }\n}];"
      },
      "id": "node-set-url",
      "name": "Set Media URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1300
      ]
    }
  ],
  "connections": {
    "Evolution Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Evolution Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evolution Payload": {
      "main": [
        [
          {
            "node": "Is Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Media?": {
      "main": [
        [
          {
            "node": "Fetch Base64 from Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Base64 from Evolution": {
      "main": [
        [
          {
            "node": "Process Base64 Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Base64 Upload": {
      "main": [
        [
          {
            "node": "Upload Media to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media to Supabase": {
      "main": [
        [
          {
            "node": "Set Media URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Media URL": {
      "main": [
        [
          {
            "node": "Is Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Message?": {
      "main": [
        [
          {
            "node": "Fetch Channel ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Channel ID": {
      "main": []
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Insert Message to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message to Supabase": {
      "main": [
        [
          {
            "node": "Log Webhook Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c18d4d18-a7d6-440b-9b9e-d07226d7dc44",
  "activeVersionId": "c18d4d18-a7d6-440b-9b9e-d07226d7dc44",
  "versionCounter": 27,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-06T23:04:28.972Z",
      "createdAt": "2026-07-06T23:04:28.972Z",
      "role": "workflow:owner",
      "workflowId": "oOYAsBHtimSQr0iO",
      "projectId": "fIrNrWww8GxwH38w",
      "project": {
        "updatedAt": "2025-06-02T17:48:01.378Z",
        "createdAt": "2025-06-02T17:42:54.968Z",
        "id": "fIrNrWww8GxwH38w",
        "name": "Wilker Amaral <agenciawiks@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-07T16:00:23.005Z",
    "createdAt": "2026-07-07T16:00:23.005Z",
    "versionId": "c18d4d18-a7d6-440b-9b9e-d07226d7dc44",
    "workflowId": "oOYAsBHtimSQr0iO",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "evolution-prod",
          "options": {}
        },
        "id": "f79aec30-2f4a-4a5f-be76-a73d28679181",
        "name": "Evolution Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -512,
          1168
        ],
        "webhookId": "aee1c102-ece4-410f-8e7d-0e71c480ac30"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event;\nif (event === 'messages.upsert') {\n  const msg = body.data; \n  const key = msg.key;\n  const phone = key.remoteJid?.split('@')[0]?.split(':')[0] || '';\n  \n  let content = '';\n  let contentType = 'text';\n  let mimeType = 'application/octet-stream';\n  \n  if (msg.message?.conversation) {\n    content = msg.message.conversation;\n  } else if (msg.message?.extendedTextMessage?.text) {\n    content = msg.message.extendedTextMessage.text;\n  } else if (msg.message?.imageMessage) { \n    content = msg.message.imageMessage.caption || '[Imagem]'; \n    contentType = 'image'; \n    mimeType = msg.message.imageMessage.mimetype || 'image/jpeg';\n  } else if (msg.message?.audioMessage) { \n    content = '[Áudio]'; \n    contentType = 'audio'; \n    mimeType = msg.message.audioMessage.mimetype || 'audio/ogg';\n  } else if (msg.message?.videoMessage) { \n    content = msg.message.videoMessage.caption || '[Vídeo]'; \n    contentType = 'video'; \n    mimeType = msg.message.videoMessage.mimetype || 'video/mp4';\n  } else if (msg.message?.documentMessage) { \n    content = msg.message.documentMessage.fileName || '[Documento]'; \n    contentType = 'document'; \n    mimeType = msg.message.documentMessage.mimetype || 'application/pdf';\n  } else if (msg.message?.stickerMessage) { \n    content = '[Figurinha]'; \n    contentType = 'sticker'; \n    mimeType = msg.message.stickerMessage.mimetype || 'image/webp';\n  } else {\n    content = '[Mensagem não suportada]';\n  }\n\n  return [{ \n    json: { \n      event_type: 'message.received', \n      whatsapp_msg_id: key.id, \n      phone, \n      contact_name: msg.pushName || phone, \n      direction: key.fromMe ? 'out' : 'in', \n      content, \n      content_type: contentType, \n      media_url: null, \n      mime_type: mimeType,\n      timestamp: new Date(msg.messageTimestamp*1000).toISOString(), \n      instance: body.instance,\n      is_media: ['image', 'audio', 'video', 'document', 'sticker'].includes(contentType),\n      raw_key: key,\n      raw_message: msg.message\n    } \n  }];\n} else {\n  return [{ json: { event_type: 'skip', reason: 'Not a message: ' + event } }];\n}"
        },
        "id": "588f5a8e-3d98-4ff8-b3d1-562a62415367",
        "name": "Parse Evolution Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          1168
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "c-1779895653521",
                "leftValue": "={{ $json.event_type }}",
                "rightValue": "message.received",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "91b9cbe2-6116-42e3-a45e-82eee5ae48f5",
        "name": "Is Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -32,
          1168
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/contacts?on_conflict=phone",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify(Object.assign({ phone: $json.phone }, $json.direction === 'in' && $json.contact_name ? { name: $json.contact_name } : {})) }}",
          "options": {}
        },
        "id": "b4cf8e34-093a-419f-a13a-0a01ebb1c654",
        "name": "Upsert Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          208,
          1024
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "={{ $('Fetch Channel ID').first().json[0]?.id || $('Fetch Channel ID').first().json.id }}"
              },
              {
                "name": "contact_id",
                "value": "={{ $('Upsert Contact').item.json.id }}"
              },
              {
                "name": "direction",
                "value": "={{ $('Is Message?').item.json.direction }}"
              },
              {
                "name": "content",
                "value": "={{ $('Is Message?').item.json.content }}"
              },
              {
                "name": "content_type",
                "value": "={{ $('Is Message?').item.json.content_type }}"
              },
              {
                "name": "media_url",
                "value": "={{ $('Is Message?').item.json.media_url }}"
              },
              {
                "name": "whatsapp_msg_id",
                "value": "={{ $('Is Message?').item.json.whatsapp_msg_id }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $('Is Message?').item.json.timestamp }}"
              }
            ]
          },
          "options": {}
        },
        "id": "617b8bc9-e5b8-4846-8b9a-447c34e11687",
        "name": "Insert Message to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          448,
          1024
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/webhook_logs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "={{ $('Fetch Channel ID').first().json[0]?.id || $('Fetch Channel ID').first().json.id }}"
              },
              {
                "name": "event_type",
                "value": "={{ $('Parse Evolution Payload').item.json.event_type }}"
              },
              {
                "name": "source",
                "value": "evolution"
              },
              {
                "name": "status",
                "value": "processed"
              }
            ]
          },
          "options": {}
        },
        "id": "d10f51fa-a406-4955-8b86-f20527bb1822",
        "name": "Log Webhook Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          688,
          1024
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/ai_settings?limit=1",
          "sendHeaders": true,
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              }
            ]
          }
        },
        "id": "dad18622-c778-47fb-bce9-7fd01c1f13f0",
        "name": "Fetch AI Settings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          2100,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst settings = $('Fetch AI Settings').first()?.json;\nif (!settings) {\n  return [{ json: { run_ai: false, reason: 'No settings found' } }];\n}\n\n// Retrieve contact tags\nlet contact = {};\ntry {\n  contact = $('Upsert Contact').first().json;\n} catch(e) {\n  try {\n    contact = $input.first().json; // fallback\n  } catch(err) {}\n}\n\nconst tags = contact.tags || [];\nconst isPausedByTag = tags.includes('IA Inativa');\n\n// Read columns directly from Supabase settings row\nconst isEnabledGlobal = settings.is_enabled === true;\nconst systemPrompt = settings.system_prompt || '';\nconst negativePrompt = settings.negative_prompt || '';\nconst apiKey = settings.api_key || '';\nconst model = settings.model || 'gpt-4o-mini';\nconst temperature = settings.temperature ?? 0.7;\n\n// Find message info dynamically\nlet msgText = '';\nlet direction = 'in';\nlet phone = contact.phone || '';\n\ntry {\n  const parsed = $('Parse Evolution Payload').first().json;\n  msgText = parsed.content || '';\n  direction = parsed.direction || 'in';\n  if (!phone) phone = parsed.phone || '';\n} catch(e) {}\n\nconst isInbound = direction === 'in';\n\n// Check pause trigger phrases\nconst pausePhrases = settings.pause_trigger_phrases || [];\nconst matchedPhrase = pausePhrases.find(p => msgText.toLowerCase().includes(p.toLowerCase()));\n\nlet pauseBot = false;\nlet runAi = false;\nlet reason = '';\n\nif (!isEnabledGlobal) {\n  reason = 'AI is disabled globally';\n} else if (!isInbound) {\n  reason = 'Message is outbound';\n} else if (isPausedByTag) {\n  reason = 'AI is paused for this contact (IA Inativa tag present)';\n} else if (matchedPhrase) {\n  pauseBot = true;\n  reason = `AI paused by trigger phrase: \"${matchedPhrase}\"`;\n} else {\n  runAi = true;\n  reason = 'All checks passed, running AI';\n}\n\nconst updatedTags = isPausedByTag ? tags : [...tags, 'IA Inativa'];\n\nreturn [{\n  json: {\n    run_ai: runAi,\n    pause_bot: pauseBot,\n    reason: reason,\n    contact_id: contact.id,\n    phone: phone,\n    user_message: msgText,\n    system_prompt: systemPrompt,\n    negative_prompt: negativePrompt,\n    api_key: apiKey,\n    model: model,\n    temperature: temperature,\n    updated_tags: updatedTags\n  }\n}];\n"
        },
        "id": "cc92cad9-d854-4fd7-9fad-bcc9bb1634c9",
        "name": "AI Routing Decision",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2300,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.pause_bot }}",
                "value2": true
              }
            ]
          }
        },
        "id": "8314007a-836c-4ca7-bc51-93f515d76e8c",
        "name": "If Pause AI?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          2500,
          200
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/contacts?id=eq.{{ $json.contact_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"tags\": {{ JSON.stringify($json.updated_tags) }}, \"pipeline_stage\": \"proposal\" }",
          "options": {}
        },
        "id": "c9eb9bdf-f5b5-4a95-887e-1a0a479392fc",
        "name": "Pause Contact AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          2700,
          100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.run_ai }}",
                "value2": true
              }
            ]
          }
        },
        "id": "4bc17196-f6c2-408a-9ed9-2caa4e74aba9",
        "name": "If Run AI?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          2500,
          400
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/messages?contact_id=eq.{{ $json.contact_id }}&order=timestamp.desc&limit=10",
          "sendHeaders": true,
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              }
            ]
          }
        },
        "id": "bc3bb5ca-4300-4710-95dd-b5d522d08d11",
        "name": "Fetch Conversation History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          2700,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const msgs = $input.all().map(item => item.json);\nconst inboundMsgs = msgs.filter(m => m.direction === 'in');\nconst routerData = $('AI Routing Decision').first().json;\nconst welcomeMessage = routerData.welcome_message || '';\n\nif (inboundMsgs.length <= 1 && welcomeMessage.trim() !== '') {\n  return [{\n    json: {\n      is_welcome: true,\n      contact_id: routerData.contact_id,\n      phone: routerData.phone,\n      channel_id: routerData.channel_id,\n      content: welcomeMessage\n    }\n  }];\n}\n\nmsgs.reverse();\n\nconst historyText = msgs.map(m => {\n  const role = m.direction === 'in' ? 'USER' : 'ASSISTANT';\n  return `${role}: ${m.content || ''}`;\n}).join('\\n\\n');\n\nconst systemContent = `${routerData.system_prompt}\\n\\nRESTRISÇÕES IMPORTANTES (O QUE NUNCA FAZER):\\n${routerData.negative_prompt}`;\n\nconst systemMessage = `${systemContent}\\n\\nCONVERSATION HISTORY:\\n${historyText}`;\n\nreturn [{\n  json: {\n    is_welcome: false,\n    api_key: routerData.api_key,\n    model: routerData.model,\n    temperature: routerData.temperature,\n    chatInput: routerData.user_message,\n    systemMessage: systemMessage,\n    contact_id: routerData.contact_id,\n    phone: routerData.phone,\n    channel_id: routerData.channel_id\n  }\n}];"
        },
        "id": "2cdf4921-901c-4f25-af07-36ce00555a60",
        "name": "Format Prompt & History",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2900,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const resp = $input.first().json;\nconst answer = resp.output || resp.text || resp.content || JSON.stringify(resp);\nconst inputData = $('Format Prompt & History').first().json;\nreturn [{\n  json: {\n    contact_id: inputData.contact_id,\n    phone: inputData.phone,\n    channel_id: inputData.channel_id,\n    content: answer\n  }\n}];"
        },
        "id": "d48ef40f-5987-431c-b4a4-028d1f3d76f0",
        "name": "Extract AI Answer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3300,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-n8n.rh3fr2.easypanel.host/webhook/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"channel_id\": \"{{ $json.channel_id }}\", \"contact_id\": \"{{ $json.contact_id }}\", \"phone\": \"{{ $json.phone }}\", \"content\": {{ JSON.stringify($json.content) }} }",
          "options": {}
        },
        "id": "1b55414a-312c-4c6d-8f90-e8f366801348",
        "name": "Send AI Response",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          3500,
          400
        ]
      },
      {
        "parameters": {
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "={{ $json.systemMessage }}\n\nIMPORTANT TOOL RULES: Para mover o lead para 'won', é OBRIGATÓRIO haver um agendamento concreto (data e hora aceitos pelo lead). Confirmações genéricas não são suficientes."
          }
        },
        "id": "agent-wkh59",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1400,
          400
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "={{ $('Format Prompt & History').first().json.model || 'gpt-4o-mini' }}",
            "mode": "id"
          },
          "options": {
            "temperature": "={{ $('Format Prompt & History').first().json.temperature || 0.7 }}"
          }
        },
        "id": "model-vxcdom",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1300,
          600
        ],
        "credentials": {
          "openAiApi": {
            "id": "pnuusAYVVpBuDVbK",
            "name": "OpenAI account 2"
          }
        }
      },
      {
        "parameters": {
          "name": "atualizar_funil_vendas",
          "description": "Atualiza o estágio do lead no funil de vendas (pipeline_stage) e passa o atendimento para a equipe humana. Use isso SEMPRE que o lead disser que quer agendar ou aceitar falar com o especialista. OBRIGATÓRIO: você deve passar \"proposal\" para o parâmetro pipeline_stage.",
          "method": "PATCH",
          "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/contacts?id=eq.{{ $('AI Routing Decision').first().json.contact_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"pipeline_stage\": \"{{ $fromAI('pipeline_stage', 'Estágio do funil: proposal', 'string') }}\", \"tags\": {{ JSON.stringify(($fromAI('pipeline_stage') === 'proposal' || $fromAI('pipeline_stage') === 'won') ? (($('AI Routing Decision').first().json.updated_tags || []).includes('IA Inativa') ? ($('AI Routing Decision').first().json.updated_tags || []) : [...($('AI Routing Decision').first().json.updated_tags || []), 'IA Inativa']) : (Array.isArray($('Fetch Contact').first().json) ? ($('Fetch Contact').first().json[0]?.tags || []) : ($('Fetch Contact').first().json?.tags || []))) }}}",
          "options": {}
        },
        "id": "tool-b0b4n",
        "name": "Atualizar Funil",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1500,
          600
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/rest/v1/channels?instance=eq.{{ encodeURIComponent($('Parse Evolution Payload').item.json.instance) }}&select=id",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              }
            ]
          },
          "options": {}
        },
        "id": "e458e0a3-bf45-42a9-a931-e40f1e4a29a3",
        "name": "Fetch Channel ID",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -32,
          950
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.is_media }}",
                "value2": true
              }
            ]
          }
        },
        "id": "node-is-media",
        "name": "Is Media?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          0,
          1168
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://n8n-evolution-api.rh3fr2.easypanel.host/chat/getBase64FromMediaMessage/{{ $json.instance }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "3F48DF5CA77B-48F8-A3F8-9A12478A2E8B"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ message: { key: $json.raw_key, message: $json.raw_message }, convertToMp4: false }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "node-fetch-base64",
        "name": "Fetch Base64 from Evolution",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          200,
          1300
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const evoResponse = $input.first().json;\nconst parseData = $('Is Media?').first().json;\n\n// Check if there was an error in the previous node\nif (evoResponse.error || !evoResponse.base64) {\n  return [{ json: parseData }];\n}\n\nconst base64Data = evoResponse.base64;\nconst mimeType = evoResponse.mimetype || parseData.mime_type;\nconst extension = mimeType.split('/')[1]?.split(';')[0] || 'bin';\nconst fileName = parseData.whatsapp_msg_id + '_' + parseData.content_type + '.' + (extension === 'ogg' ? 'ogg' : extension);\n\nreturn [{\n  json: {\n    ...parseData,\n    upload_base64: base64Data,\n    upload_mime_type: mimeType,\n    upload_file_name: fileName\n  }\n}];"
        },
        "id": "node-process-upload",
        "name": "Process Base64 Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          1300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rjcuoxvutrrzknicyuev.supabase.co/storage/v1/object/media/{{ $json.upload_file_name }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3VveHZ1dHJyemtuaWN5dWV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM0ODEyMCwiZXhwIjoyMDk4OTI0MTIwfQ.p0MiiM1RHbV9K0lEBDnJwopAveSCa64T7ogUG7Cy-rE"
              },
              {
                "name": "Content-Type",
                "value": "={{ $json.upload_mime_type }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawBody": "={{ $json.upload_base64 ? Buffer.from($json.upload_base64, \"base64\") : \"\" }}",
          "options": {}
        },
        "id": "node-upload-media",
        "name": "Upload Media to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          600,
          1300
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const data = $('Process Base64 Upload').first().json;\nconst uploadResult = $('Upload Media to Supabase').first().json;\n\nlet publicUrl = null;\nif (data.upload_file_name && !uploadResult.error) {\n  publicUrl = \"https://rjcuoxvutrrzknicyuev.supabase.co/storage/v1/object/public/media/\" + data.upload_file_name;\n}\n\nreturn [{\n  json: {\n    event_type: data.event_type,\n    whatsapp_msg_id: data.whatsapp_msg_id,\n    phone: data.phone,\n    contact_name: data.contact_name,\n    direction: data.direction,\n    content: data.content,\n    content_type: data.content_type,\n    media_url: publicUrl,\n    mime_type: data.mime_type,\n    timestamp: data.timestamp,\n    instance: data.instance\n  }\n}];"
        },
        "id": "node-set-url",
        "name": "Set Media URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          1300
        ]
      }
    ],
    "connections": {
      "Evolution Webhook Trigger": {
        "main": [
          [
            {
              "node": "Parse Evolution Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Evolution Payload": {
        "main": [
          [
            {
              "node": "Is Media?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Media?": {
        "main": [
          [
            {
              "node": "Fetch Base64 from Evolution",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Base64 from Evolution": {
        "main": [
          [
            {
              "node": "Process Base64 Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Base64 Upload": {
        "main": [
          [
            {
              "node": "Upload Media to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Media to Supabase": {
        "main": [
          [
            {
              "node": "Set Media URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Media URL": {
        "main": [
          [
            {
              "node": "Is Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Message?": {
        "main": [
          [
            {
              "node": "Fetch Channel ID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upsert Contact",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Fetch Channel ID": {
        "main": []
      },
      "Upsert Contact": {
        "main": [
          [
            {
              "node": "Insert Message to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Message to Supabase": {
        "main": [
          [
            {
              "node": "Log Webhook Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wilker Amaral",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-07T16:00:23.138Z",
        "id": 1366,
        "workflowId": "oOYAsBHtimSQr0iO",
        "versionId": "c18d4d18-a7d6-440b-9b9e-d07226d7dc44",
        "event": "activated",
        "userId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      },
      {
        "createdAt": "2026-07-07T16:00:23.083Z",
        "id": 1365,
        "workflowId": "oOYAsBHtimSQr0iO",
        "versionId": "c18d4d18-a7d6-440b-9b9e-d07226d7dc44",
        "event": "deactivated",
        "userId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    ]
  }
}