n8n-workflows/meta-inbound-webhook.json
{
  "name": "WhatsApp Meta Official – Inbound Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/meta",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook-meta",
      "name": "Meta Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Meta Cloud API webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\n// Handle webhook verification challenge (GET)\nif (body['hub.mode'] === 'subscribe') {\n  return [{ json: { challenge: body['hub.challenge'] } }];\n}\n\n// Extract message data from Meta format\nconst entry = body.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) {\n  return [{ json: { skip: true, reason: 'No message in payload (status update or other event)' } }];\n}\n\nreturn [{\n  json: {\n    whatsapp_msg_id: message.id,\n    phone: message.from,\n    contact_name: contact?.profile?.name || message.from,\n    direction: 'in',\n    content: message.text?.body || message.caption || '[media]',\n    content_type: message.type || 'text',\n    media_url: message.image?.link || message.video?.link || message.audio?.link || message.document?.link || null,\n    timestamp: new Date(parseInt(message.timestamp) * 1000).toISOString(),\n    raw_payload: body\n  }\n}];"
      },
      "id": "node-parse-meta",
      "name": "Parse Meta Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-filter-skip",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check for duplicate message (idempotency)\nconst msgId = $json.whatsapp_msg_id;\n\n// Upsert contact\nconst contactResult = await $helpers.httpRequest({\n  method: 'POST',\n  url: `${$env.SUPABASE_URL}/rest/v1/contacts`,\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': `Bearer ${$env.SUPABASE_SERVICE_KEY}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'resolution=merge-duplicates,return=representation'\n  },\n  body: JSON.stringify({\n    phone: $json.phone,\n    name: $json.contact_name\n  })\n});\n\nconst contactId = contactResult?.[0]?.id;\n\nreturn [{\n  json: {\n    ...$json,\n    contact_id: contactId\n  }\n}];"
      },
      "id": "node-upsert-contact",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel_id", "value": "={{ $env.META_CHANNEL_ID }}" },
            { "name": "contact_id", "value": "={{ $json.contact_id }}" },
            { "name": "direction", "value": "in" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "content_type", "value": "={{ $json.content_type }}" },
            { "name": "media_url", "value": "={{ $json.media_url }}" },
            { "name": "whatsapp_msg_id", "value": "={{ $json.whatsapp_msg_id }}" },
            { "name": "timestamp", "value": "={{ $json.timestamp }}" }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 5,
            "retryInterval": 2000,
            "retryIntervalMultiplier": 2
          }
        }
      },
      "id": "node-insert-msg",
      "name": "Insert Message to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/webhook_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel_id", "value": "={{ $env.META_CHANNEL_ID }}" },
            { "name": "event_type", "value": "message.received" },
            { "name": "source", "value": "meta" },
            { "name": "status", "value": "processed" }
          ]
        }
      },
      "id": "node-log-success",
      "name": "Log Webhook Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/failed_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel_id", "value": "={{ $env.META_CHANNEL_ID }}" },
            { "name": "payload", "value": "={{ JSON.stringify($json) }}" },
            { "name": "error_message", "value": "={{ $json.error?.message || 'Unknown error' }}" }
          ]
        }
      },
      "id": "node-dead-letter",
      "name": "Dead Letter Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1160, 440]
    }
  ],
  "connections": {
    "Meta Webhook Trigger": {
      "main": [[{ "node": "Parse Meta Payload", "type": "main", "index": 0 }]]
    },
    "Parse Meta Payload": {
      "main": [[{ "node": "Has Message?", "type": "main", "index": 0 }]]
    },
    "Has Message?": {
      "main": [
        [{ "node": "Upsert Contact", "type": "main", "index": 0 }],
        []
      ]
    },
    "Upsert Contact": {
      "main": [[{ "node": "Insert Message to Supabase", "type": "main", "index": 0 }]]
    },
    "Insert Message to Supabase": {
      "main": [[{ "node": "Log Webhook Event", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "errorWorkflow": "Dead Letter Queue",
    "executionTimeout": 30,
    "retry": {
      "enabled": true,
      "maxRetries": 5,
      "retryInterval": 2000
    }
  }
}
