scratch/evolution_current.json
{
  "updatedAt": "2026-05-27T15:27:21.993Z",
  "createdAt": "2026-05-21T22:06:18.094Z",
  "id": "m5wmXXTYAqLiRM9c",
  "name": "WhatsApp Evolution API – Inbound Webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/evolution",
        "options": {}
      },
      "id": "f79aec30-2f4a-4a5f-be76-a73d28679181",
      "name": "Evolution Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        1168
      ],
      "webhookId": "aee1c102-ece4-410f-8e7d-0e71c480ac30"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event;\nif (event === 'messages.upsert') {\n  const msg = body.data; const key = msg.key;\n  const phone = key.remoteJid?.split('@')[0]?.split(':')[0] || '';\n  let content='', contentType='text', mediaUrl=null;\n  if (msg.message?.conversation) content = msg.message.conversation;\n  else if (msg.message?.extendedTextMessage?.text) content = msg.message.extendedTextMessage.text;\n  else if (msg.message?.imageMessage) { content = msg.message.imageMessage.caption || '[Imagem]'; contentType='image'; mediaUrl=msg.message.imageMessage.url; }\n  else if (msg.message?.audioMessage) { content='[Áudio]'; contentType='audio'; mediaUrl=msg.message.audioMessage.url; }\n  else if (msg.message?.videoMessage) { content = msg.message.videoMessage.caption || '[Vídeo]'; contentType='video'; mediaUrl=msg.message.videoMessage.url; }\n  else if (msg.message?.documentMessage) { content = msg.message.documentMessage.fileName || '[Documento]'; contentType='document'; mediaUrl=msg.message.documentMessage.url; }\n  else if (msg.message?.stickerMessage) { content='[Sticker]'; contentType='sticker'; }\n  else content='[Mensagem não suportada]';\n  return [{ json: { event_type:'message.received', whatsapp_msg_id:key.id, phone, contact_name:msg.pushName||phone, direction:key.fromMe?'out':'in', content, content_type:contentType, media_url:mediaUrl, timestamp:new Date(msg.messageTimestamp*1000).toISOString(), instance:body.instance }}];\n} else return [{ json: { event_type:'skip', reason:'Not a message: '+event }}];"
      },
      "id": "588f5a8e-3d98-4ff8-b3d1-562a62415367",
      "name": "Parse Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-1779895653521",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "message.received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91b9cbe2-6116-42e3-a45e-82eee5ae48f5",
      "name": "Is Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/contacts?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ phone: $('Parse Evolution Payload').item.json.phone }, $('Parse Evolution Payload').item.json.direction === 'in' && $('Parse Evolution Payload').item.json.contact_name ? { name: $('Parse Evolution Payload').item.json.contact_name } : {})) }}",
        "options": {}
      },
      "id": "b4cf8e34-093a-419f-a13a-0a01ebb1c654",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        208,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "50df1e49-8f4c-4f90-b3c5-e9b95e37d8ed"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "direction",
              "value": "={{ $('Parse Evolution Payload').item.json.direction }}"
            },
            {
              "name": "content",
              "value": "={{ $('Parse Evolution Payload').item.json.content }}"
            },
            {
              "name": "content_type",
              "value": "={{ $('Parse Evolution Payload').item.json.content_type }}"
            },
            {
              "name": "media_url",
              "value": "={{ $('Parse Evolution Payload').item.json.media_url }}"
            },
            {
              "name": "whatsapp_msg_id",
              "value": "={{ $('Parse Evolution Payload').item.json.whatsapp_msg_id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $('Parse Evolution Payload').item.json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "617b8bc9-e5b8-4846-8b9a-447c34e11687",
      "name": "Insert Message to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/webhook_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "50df1e49-8f4c-4f90-b3c5-e9b95e37d8ed"
            },
            {
              "name": "event_type",
              "value": "={{ $('Parse Evolution Payload').item.json.event_type }}"
            },
            {
              "name": "source",
              "value": "evolution"
            },
            {
              "name": "status",
              "value": "processed"
            }
          ]
        },
        "options": {}
      },
      "id": "d10f51fa-a406-4955-8b86-f20527bb1822",
      "name": "Log Webhook Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        688,
        1024
      ]
    }
  ],
  "connections": {
    "Evolution Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Evolution Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evolution Payload": {
      "main": [
        [
          {
            "node": "Is Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Message?": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Insert Message to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message to Supabase": {
      "main": [
        [
          {
            "node": "Log Webhook Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4a4a5320-2c59-44c9-9435-f29e4ecb05da",
  "activeVersionId": "4a4a5320-2c59-44c9-9435-f29e4ecb05da",
  "versionCounter": 234,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-21T22:06:18.098Z",
      "createdAt": "2026-05-21T22:06:18.098Z",
      "role": "workflow:owner",
      "workflowId": "m5wmXXTYAqLiRM9c",
      "projectId": "fIrNrWww8GxwH38w",
      "project": {
        "updatedAt": "2025-06-02T17:48:01.378Z",
        "createdAt": "2025-06-02T17:42:54.968Z",
        "id": "fIrNrWww8GxwH38w",
        "name": "Wilker Amaral <agenciawiks@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-27T15:27:21.995Z",
    "createdAt": "2026-05-27T15:27:21.995Z",
    "versionId": "4a4a5320-2c59-44c9-9435-f29e4ecb05da",
    "workflowId": "m5wmXXTYAqLiRM9c",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook/evolution",
          "options": {}
        },
        "id": "f79aec30-2f4a-4a5f-be76-a73d28679181",
        "name": "Evolution Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -512,
          1168
        ],
        "webhookId": "aee1c102-ece4-410f-8e7d-0e71c480ac30"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event;\nif (event === 'messages.upsert') {\n  const msg = body.data; const key = msg.key;\n  const phone = key.remoteJid?.split('@')[0]?.split(':')[0] || '';\n  let content='', contentType='text', mediaUrl=null;\n  if (msg.message?.conversation) content = msg.message.conversation;\n  else if (msg.message?.extendedTextMessage?.text) content = msg.message.extendedTextMessage.text;\n  else if (msg.message?.imageMessage) { content = msg.message.imageMessage.caption || '[Imagem]'; contentType='image'; mediaUrl=msg.message.imageMessage.url; }\n  else if (msg.message?.audioMessage) { content='[Áudio]'; contentType='audio'; mediaUrl=msg.message.audioMessage.url; }\n  else if (msg.message?.videoMessage) { content = msg.message.videoMessage.caption || '[Vídeo]'; contentType='video'; mediaUrl=msg.message.videoMessage.url; }\n  else if (msg.message?.documentMessage) { content = msg.message.documentMessage.fileName || '[Documento]'; contentType='document'; mediaUrl=msg.message.documentMessage.url; }\n  else if (msg.message?.stickerMessage) { content='[Sticker]'; contentType='sticker'; }\n  else content='[Mensagem não suportada]';\n  return [{ json: { event_type:'message.received', whatsapp_msg_id:key.id, phone, contact_name:msg.pushName||phone, direction:key.fromMe?'out':'in', content, content_type:contentType, media_url:mediaUrl, timestamp:new Date(msg.messageTimestamp*1000).toISOString(), instance:body.instance }}];\n} else return [{ json: { event_type:'skip', reason:'Not a message: '+event }}];"
        },
        "id": "588f5a8e-3d98-4ff8-b3d1-562a62415367",
        "name": "Parse Evolution Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          1168
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "c-1779895653521",
                "leftValue": "={{ $json.event_type }}",
                "rightValue": "message.received",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "91b9cbe2-6116-42e3-a45e-82eee5ae48f5",
        "name": "Is Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -32,
          1168
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/contacts?on_conflict=phone",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify(Object.assign({ phone: $('Parse Evolution Payload').item.json.phone }, $('Parse Evolution Payload').item.json.direction === 'in' && $('Parse Evolution Payload').item.json.contact_name ? { name: $('Parse Evolution Payload').item.json.contact_name } : {})) }}",
          "options": {}
        },
        "id": "b4cf8e34-093a-419f-a13a-0a01ebb1c654",
        "name": "Upsert Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          208,
          1024
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "50df1e49-8f4c-4f90-b3c5-e9b95e37d8ed"
              },
              {
                "name": "contact_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "direction",
                "value": "={{ $('Parse Evolution Payload').item.json.direction }}"
              },
              {
                "name": "content",
                "value": "={{ $('Parse Evolution Payload').item.json.content }}"
              },
              {
                "name": "content_type",
                "value": "={{ $('Parse Evolution Payload').item.json.content_type }}"
              },
              {
                "name": "media_url",
                "value": "={{ $('Parse Evolution Payload').item.json.media_url }}"
              },
              {
                "name": "whatsapp_msg_id",
                "value": "={{ $('Parse Evolution Payload').item.json.whatsapp_msg_id }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $('Parse Evolution Payload').item.json.timestamp }}"
              }
            ]
          },
          "options": {}
        },
        "id": "617b8bc9-e5b8-4846-8b9a-447c34e11687",
        "name": "Insert Message to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          448,
          1024
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/webhook_logs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "50df1e49-8f4c-4f90-b3c5-e9b95e37d8ed"
              },
              {
                "name": "event_type",
                "value": "={{ $('Parse Evolution Payload').item.json.event_type }}"
              },
              {
                "name": "source",
                "value": "evolution"
              },
              {
                "name": "status",
                "value": "processed"
              }
            ]
          },
          "options": {}
        },
        "id": "d10f51fa-a406-4955-8b86-f20527bb1822",
        "name": "Log Webhook Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          688,
          1024
        ]
      }
    ],
    "connections": {
      "Evolution Webhook Trigger": {
        "main": [
          [
            {
              "node": "Parse Evolution Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Evolution Payload": {
        "main": [
          [
            {
              "node": "Is Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Message?": {
        "main": [
          [
            {
              "node": "Upsert Contact",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Upsert Contact": {
        "main": [
          [
            {
              "node": "Insert Message to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Message to Supabase": {
        "main": [
          [
            {
              "node": "Log Webhook Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wilker Amaral",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T15:27:22.086Z",
        "id": 680,
        "workflowId": "m5wmXXTYAqLiRM9c",
        "versionId": "4a4a5320-2c59-44c9-9435-f29e4ecb05da",
        "event": "activated",
        "userId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    ]
  }
}